body { 
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 20px;
  line-height: 150%;
}

h1 {
  color: #efeee7;
  background-color: #333333;
  text-align: center;
  font-size: 40px;
  text-emphasis: bolder;
  width: 100%;
}

h2 {
  font-size: 30px;
  text-align: left;
  text-emphasis: bolder;
  text-indent: 25%;
}
ul{
  text-emphasis: bolder;
  align-items: center;
  margin-left: 25px;
}

#main-bio, #resumeImg {
float: left;
}

#contact-info{
  float: right;
  line-height: 150%;
}

a {
  color: darkmagenta;
}

#bio-image{
  float: left;
  width: 75%;
  height: 75%;
}

