body { 
  background-color: #efeee7;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 20px;
  line-height: 150%;
}

h1 {
  color: #efeee7;
  background-color: #333333;
  margin: 0;
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-emphasis: bolder;
}

h2 {
  font-size: 24px;
  text-align: left;
  text-emphasis: bolder;

}
h3 {
  font-size: 24px;
  text-align: left;
  text-emphasis: bolder;
}

.container {
  width: 100%;
  margin: 30px;
}

#main-bio {
float: left;
}
#resumeImg{
  float: left;
}

#contact-info {
  float: left;
  line-height: 150%;
}

a {
  color: #d21034;
}

#bio-image {
  float: left;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}
